*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3B4664;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    height: 100px;
    width: 390px;
    background-color: #252D44;
    border-radius: 12px;
    margin-top: 100px;
}
.calc{
    height: 65%;
    width: 360px;
    padding: 15px;
    background-color: #252D44;
    border-radius: 12px;
    margin-top: 20px;
    border: none;
}
#display{
    height: 100%;
    width: 100%;
    background-color: #252D44;
    font-size: 40px;
    color: white;
    text-align: right;
    border: none;
    border-radius: 12px;
}
.btn{
    height: 60px;
    width: 80px;
    margin: 3px;
    background-color: #EAE3DB;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.btn-reset{
    width: 47%;
    height: 50px;
    background-color: #647299;
    color: #fff;
}
.btn-equal{
    width: 47%;
    height: 50px;
    border: none;
    background-color: #D13F30;
    color: #fff;
}
.del{
    color: #fff;
    background-color: #647299;
}